{% extends "base.html" %}

{% comment %} Set <title> {% endcomment %}
{% block title %}
  Bowling Stats
{% endblock %}

{% block content %}
  <div class="outter-wrapper body-wrapper">
    <div class="wrapper ad-pad clearfix">
      <div class="main-content col-1-1 right last">
        <h1>Bowling Stats</h1>
        <div class="search-bar">
          <div class="options">{% comment %} Filter options {% endcomment %}
            <select name="year" id="yearSelect">
              <option value="all">All</option>
              {% for season in seasons %}
                <option value="{{ season }}" {% if forloop.first %}selected{% endif %}>{{ season }}</option>
              {% endfor %}
            </select>
            <select name="team" id="teamSelect">
              <option value="all" selected>All</option>
              {% for team in teams %}
                <option value="{{ team.team_id }}">{{ team.team_name }}</option>
              {% endfor %}
            </select>
            <select name="order-by" id="orderbySelect">
              <option value="name">Name</option>
              <option value="overs">Overs</option>
              <option value="maidens">Maidens</option>
              <option value="runs">Runs</option>
              <option value="wickets" selected>Wickets</option>
              <option value="average">Average</option>
              <option value="economy">Economy</option>
              <option value="fantasy">Fantasy Points</option>
            </select>
            <select name="display-count" id="displaycountSelect">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="all">All</option>
            </select>
          </div>
          <div class="search-button">
            <input type="submit" value="Search" onclick="bowlingStatsSearch()"/>
          </div>
        </div>
        <div class="stats-list">
          <table id="stats-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Overs</th>
                <th>Maidens</th>
                <th>Runs</th>
                <th>Wickets</th>
                <th>Average</th>
                <th>Economy</th>
                <th>5 Wicket Hauls</th>
                <th>Fantasy Points</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}{% comment %} Add bowlers to table {% endcomment %}
                <tr>
                  <td>{{ player.player_name }}</td>
                  <td>{{ player.get_overs|floatformat }}</td>
                  <td>{{ player.get_maidens }}</td>
                  <td>{{ player.get_bowl_runs }}</td>
                  <td>{{ player.get_wickets }}</td>
                  {% if player.get_bowl_average != "-" %} {% comment %} check if - so dont for floatformat on string {% endcomment %}
                    <td>{{ player.get_bowl_average|floatformat }}</td>
                  {% else %}
                    <td>-</td>
                  {% endif %}
                  <td>{{ player.get_economy|floatformat }}</td>
                  <td>{{ player.get_5_wickets }}</td>
                  <td>{{ player.bowl_mvp_points|floatformat }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if players %}
            <p id="stats-error-message" style="display:none">Could not find any stats</p>
          {% else %}
            <p id="stats-error-message">Could not find any stats</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
