{% extends "base.html" %}

{% comment %} Set <titlew> {% endcomment %}
{% block title %}
  Batting Stats
{% endblock %}

{% block content %}
  <div class="outter-wrapper body-wrapper">
    <div class="wrapper ad-pad clearfix">
      <div class="main-content col-1-1 right last">
        <h1>Batting Stats</h1>
        <div class="search-bar">
          <div class="options"> {% comment %} filter options {% endcomment %}
            <select name="year" id="yearSelect">
              <option value="all">All</option>
              {% for season in seasons %}
                <option value="{{ season }}" {% if forloop.first %}selected{% endif %}>{{ season }}</option>
              {% endfor %}
            </select>
            <select name="team" id="teamSelect">
              <option value="all" selected>All</option>
              {% for team in teams %}
                <option value="{{ team.id }}">{{ team.name }}</option>
              {% endfor %}
            </select>
            <select name="order-by" id="orderbySelect">
              <option value="name">Name</option>
              <option value="games">Games</option>
              <option value="innings">Innings</option>
              <option value="runs" selected>Runs</option>
              <option value="par_runs">Par Runs</option>
              <option value="average">Average</option>
              <option value="no">Not Outs</option>
              <option value="highscore">High Score</option>
            </select>
            <select name="display-count" id="displaycountSelect">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="all">All</option>
            </select>
          </div>
          <div class="search-button">
            <input type="submit" value="Search" onclick="battingStatsSearch()"/>
          </div>
        </div>
        <div class="stats-list">
          <table id="stats-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Games</th>
                <th>Innings</th>
                <th>Not Outs</th>
                <th>Runs</th>
                <th>Par Runs</th>
                <th>High Score</th>
                <th>Average</th>
                <th>50s</th>
                <th>100s</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}{% comment %} Add players to table {% endcomment %}
                <tr>
                  <td>{{ player.player_name }}</td>
                  <td>{{ player.get_games }}</td>
                  <td>{{ player.get_innings }}</td>
                  <td>{{ player.get_not_outs }}</td>
                  <td>{{ player.get_runs }}</td>
                  <td>{{ player.get_par_runs }}</td>
                  <td>{{ player.get_high_score }}</td>
                  {% if player.get_average != "-" %}{% comment %} Check is not - so dont do float format on string {% endcomment %}
                    <td>{{ player.get_average|floatformat }}</td>
                  {% else %}
                    <td>-</td>
                  {% endif %}
                  <td>{{ player.get_50s }}</td>
                  <td>{{ player.get_100s }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if players %}
            <p id="stats-error-message" style="display:none">Could not find any stats</p>
          {% else %}
            <p id="stats-error-message">Could not find any stats</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
