{% extends "base.html" %}
{% load user_tags %}
{% load staticfiles %}{% comment %} Load static files {% endcomment %}

{% block content %}
  <div class="block title-message fantasy">
    <div class="overlay">
      <div class="block-content">
        <h2>Manage your team</h2>
      </div>
    </div>
  </div>
  <div class="split-40">
    <div class="left your-team">
      <div>
        <div class="title">
          <h3>Your Team</h3>
          <div class="caption">
            <form id="manage-form" onsubmit="return checkForm()" action="{% url "fantasyleague:manage_submission" %}" method="POST">
              {% csrf_token %}
              {{ manage_form.as_p }}{% comment %} Insert manage_form into templates {% endcomment %}
              <input type="submit" value="Save" id="save_button">
            </form>
          </div>
        </div>
        <div class="info">
          <div>
            {% if user.is_authenticated %}{% comment %} Check user is authenticated {% endcomment %}
              {% if user|has_team %}{% comment %} Check user has team. If they didn't a team should have been generated {% endcomment %}
                {% comment %} Insert fantasy team data into template {% endcomment %}
                <p>
                  <span>Team Name</span>
                  <strong>{{ team.team_name }}</strong>
                </p>
                <p>
                  <span>Team Value</span>
                  <strong>£
                    <strong id="new-team-value">{{ total_team_value|floatformat }}</strong>
                    <strong class="max-value"> / {{ max_value }}</strong>
                    million
                  </strong>
                </p>
                <p>
                  <span>Captain</span>
                  <select id="captain-select">
                    {% if not captain %} {% comment %} Check if there is a captain {% endcomment %}
                      <option value="-" selected disabled>-</option>{% comment %} Add blank option selected for captain {% endcomment %}
                    {% endif %}
                    {% comment %} Add all team players to captain-select {% endcomment %}
                    {% for player in current_team_players %}
                      <option value="{{ player.id }}" {% if player.id == captain %}selected{% endif %}>{{ player.player_name }}</option>
                    {% endfor %}
                  </select>
                </p>
                <p>
                  <span>Number of Players</span>
                  <strong id="no-players">{{ no_players }}</strong>
                <p>
                  <span>Total Points</span>
                  <strong>{{ team.get_points|floatformat }} Points</strong>
                </p>
                {% if best_player_last_week %}{% comment %} Check if there was a best player last week. Usually only missing at start and end of season {% endcomment %}
                  <p>
                    <span>Best Player This Week</span>
                    <strong>{{ best_player_last_week.name }} - {{ best_player_last_week.points|floatformat }} points</strong>
                  </p>
                {% endif %}
                {% if best_player_all_time %}{% comment %} Check if there is a best player of all time{% endcomment %}
                  <p>
                    <span>Best Player This Season</span>
                    <strong>{{ best_player_all_time.name }} - {{ best_player_all_time.points|floatformat }} points</strong>
                  </p>
                {% endif %}
              {% else %}
                <p>You need to select your team</p>
              {% endif %}
            {% else %}
              <p>
                <a href="{% url "fantasyleague:login" %}">Login</a>
                or
                <a href="{% url "fantasyleague:register" %}">signup</a>
                to view your team
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% comment %} Bowler Select box {% endcomment %}
    <div class="right">
      <div>
        <div class="title">
          <h3>Bowlers</h3>
          <div class="caption">
            <p>You can have a maximum of 5 bowlers.</p>
          </div>
        </div>
        <div class="info">
          <select name="bowlers" id="team-bowlers" multiple="multiple" data-select-limit=5>
            {% for player in bowlers %}{% comment %} Add bowlers to bowler select box {% endcomment %}
              {% if player.player in current_team_players %}{% comment %} If in team then select them {% endcomment  %}
                <option value="{{ player.value }}-{{ player.player.id }}" selected>£{{ player.value }}m {{ player.player.player_name }}</option>
              {% else %}
                <option value="{{ player.value }}-{{ player.player.id }}">£{{ player.value }}m {{ player.player.player_name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {% comment %} Batsmen select box {% endcomment %}
    <div class="left">
      <div>
        <div class="title">
          <h3>Batsmen</h3>
          <div class="caption">
            <p>You can have a maximum of 5 batsmen.</p>
          </div>
        </div>
        <div class="info">
          <select name="batsmen" id="team-batsmen" multiple="multiple" data-select-limit=5>
            {% for player in batsmen %}{% comment %} Add batsmen to batsmen select box {% endcomment %}
              {% if player.player in current_team_players %}{% comment %} If btsmen is in team the select them {% endcomment %}
                <option value="{{ player.value }}-{{ player.player.id }}" selected>£{{player.value}}m {{ player.player.player_name }}</option>
              {% else %}
                <option value="{{ player.value }}-{{ player.player.id }}">£{{ player.value }}m {{ player.player.player_name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {% comment %} All rounders select box {% endcomment %}
    <div class="right">
      <div>
        <div class="title">
          <h3>All Rounders</h3>
          <div class="caption">
            <p>You can have a maximum of 3 all rounders.</p>
          </div>
        </div>
        <div class="info">
          <select name="all_rounders" id="team-all_rounders" multiple="multiple" data-select-limit=3>
            {% for player in all_rounders %}{% comment %} Add all rounders to all rounders select box {% endcomment %}
            {% if player.player in current_team_players %}{% comment %} If all rounder is in team then select them {% endcomment %}
                <option value="{{ player.value }}-{{ player.player.id }}" selected>£{{ player.value }}m {{ player.player.player_name }}</option>
              {% else %}
                <option value="{{ player.value }}-{{ player.player.id }}">£{{ player.value }}m {{ player.player.player_name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {% comment %} Keeper select box {% endcomment %}
    <div class="left">
      <div>
        <div class="title">
          <h3>Keeper</h3>
          <div class="caption">
            <p>You must have 1 keeper.</p>
          </div>
        </div>
        <div class="info">
          <select name="keepers" id="team-keepers" multiple="multiple" data-select-limit=1>
            {% for player in keepers %}{% comment %} Adde keepers to keepers select box {% endcomment %}
            {% if player.player in current_team_players %}{% comment %} If keeper is in team then select them {% endcomment %}
                <option value="{{ player.value }}-{{ player.player.id }}" selected>£{{ player.value }}m {{ player.player.player_name }}</option>
              {% else %}
                <option value="{{ player.value }}-{{ player.player.id }}">£{{ player.value }}m {{ player.player.player_name }}</option>
              {% endif %}
           {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block title %}
  Manage Fantasy Team
{% endblock %}


{% comment %} Add JavaScript for select boxes {% endcomment %}
{% block scripts %}
  <link rel="stylesheet" href="{% static "css/multi-select.css" %}">
  <script src="{% static "js/jquery.multi-select.js" %}"></script>
  <script>
    fantasy_data = {{ fantasy_data|js }}
    function checkForm(){
      // Check that all form data is valid
      fantasy_data.new_captain = $('#captain-select').val();
      if(fantasy_data.new_team_value > fantasy_data.max_value){ // Check max team value
        alert('Your team value it too high!');
        return false;
      } else if (fantasy_data.new_players.length != 11){ // Check 11 players selected
        alert('You need to add ' + (11 - fantasy_data.new_players.length) + ' more players to your team');
        return false;
      } else if (fantasy_data.new_captain === null){ // Check they have selected a captain
        alert('Please select your captain!');
        return false;
      };
      if (fantasy_data.team_name == 'Choose your team name'){ // Check they have chosen a team name
        name = prompt('Please change your team name', '');
        if (name === null || name == '' || name == "null"){
          return false
        };
        fantasy_data.team_name = name;
      };
      if (fantasy_data.changes == [] && fantasy_data.new_captain == fantasy_data.current_captain){
        return false; // No changes have occurred, so why submit
      };
      $('#fantasy-data-input').val(JSON.stringify(fantasy_data));
      return true; // All checks passed form submission can continue
    };
    function addChange(player_id, value){
      // Used when a change occurs to the team
      if ($.inArray(Number(player_id), fantasy_data.current_players) != -1){ // Check if player selected is in current team
        // If they are then remove them add change to remove them
        fantasy_data.changes.push({
          player: Number(player_id),
          direction: 'RFT',
        });
        fantasy_data.new_team_value -= Number(value);
        fantasy_data.no_players -= 1;
        fantasy_data.new_players = $.grep(fantasy_data.new_players, function(obj){return obj != player_id}); // Remove player from new players array
      } else{
        // Add a change to add them to the team
        fantasy_data.changes.push({
          player: Number(player_id),
          direction: 'ATT',
        });
        fantasy_data.new_team_value += Number(value);
        fantasy_data.no_players += 1;
        fantasy_data.new_players.push(player_id);
      }
    };

    function revertChange(player_id, value){
      if ($.inArray(Number(player_id), fantasy_data.current_players) != -1){ // Check if player selected is in current tean
        // Update fantasy data
        fantasy_data.new_team_value += Number(value);
        fantasy_data.no_players += 1;
        fantasy_data.new_players.push(player_id);
      } else{
        fantasy_data.new_team_value -= Number(value);
        fantasy_data.no_players -= 1;
        fantasy_data.new_players = $.grep(fantasy_data.new_players, function(obj){return obj != player_id});
      };
      // Remove change from changes
      fantasy_data.changes  = $.grep(fantasy_data.changes, function(obj){ return Number(player_id) != obj.player});
    };

    function multiSelectLimiterAfterInit(that, container){
      that.selectLimit = (that.$element.attr('data-select-limit') !== "") ? parseInt(that.$element.attr('data-select-limit')) : -1;
      that.selectCount = that.$element.find(':selected').length;
      if(that.$element.data('initialized') !== true && that.selectLimit > -1) {
        that.$element.data('initialized', true);
        multiSelectLimiterUpdate(that);
      }
    }

    function multiSelectLimiterAfterSelect(that, values){
      if(values){
        that.selectCount += values.length;
      }
      multiSelectLimiterUpdate(that);
    }

    function multiSelectLimiterAfterDeselect(that, values){
      if(values){
        that.selectCount -= values.length;
      };
      multiSelectLimiterUpdate(that);
    };

    function updateFields(){
      // Updates all elements in html with new values
      $('#no-players').text(fantasy_data.no_players);
      $('#new-team-value').text(Math.ceil(fantasy_data.new_team_value*10)/10);
      // Change captain select
      current_captain = $('#captain-select').val();
      $('#captain-select').empty(); // Clear all values from select box
      is_captain = false;
      if ($.inArray(Number(current_captain), fantasy_data.new_players) != -1){ // Check if the captain is still in the team
        is_captain = true;
      } else {
        $('#captain-select').append($('<option disabled>-</option>').val('-'))
      }
      $.each(fantasy_data.new_players, function(i, p) { // Add all players to the select box
        option = $('<option></option>').val(p).html(fantasy_data.player_dictionary[p]); // Lookup player name and append to option
        $('#captain-select').append(option);
      });
      if (is_captain){ // Select current captain
        $('#captain-select').val(current_captain);
      } else {
        $('#captain-select').val('-');
      }
    };

    function multiSelectLimiterUpdate(that){
      var selectedValues = that.$element.val();
      if(that.selectCount >= that.selectLimit){
        that.$element.children().each(function(){
          if(!$.contains(selectedValues, this.value)){
            $(this).attr('disabled', 'disabled');
          }
        });
        that.$selectableUl.children().addClass(that.options.disabledClass);
      } else {
        that.$element.children().removeAttr('disabled');
        that.$selectableUl.children().removeClass(that.options.disabledClass);
      }
    }

    // Enable bowlers select box
    $('#team-bowlers').multiSelect({
        keepOrder: true,
        afterInit: function(container){
            multiSelectLimiterAfterInit(this, container);
        },
        afterSelect: function(values){
          multiSelectLimiterAfterSelect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            revertChange(values[1], values[0]);
          } else{
            addChange(values[1], values[0]);
          };
          updateFields();
        },
        afterDeselect: function(values){
          multiSelectLimiterAfterDeselect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            addChange(values[1], values[0]);
          } else{
            revertChange(values[1], values[0]);
          };
          updateFields();
        }
    });

    // Enable batsmen select box
    $('#team-batsmen').multiSelect({
        keepOrder: true,
        afterInit: function(container){
            multiSelectLimiterAfterInit(this, container);
        },
        afterSelect: function(values){
          multiSelectLimiterAfterSelect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            revertChange(values[1], values[0]);
          } else{
            addChange(values[1], values[0]);
          };
          updateFields();
        },
        afterDeselect: function(values){
          multiSelectLimiterAfterDeselect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            addChange(values[1], values[0]);
          } else{
            revertChange(values[1], values[0]);
          };
          updateFields();
        }
    });

    // Enable all rounders select box
    $('#team-all_rounders').multiSelect({
        keepOrder: true,
        afterInit: function(container){
            multiSelectLimiterAfterInit(this, container);
        },
        afterSelect: function(values){
          multiSelectLimiterAfterSelect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            revertChange(values[1], values[0]);
          } else{
            addChange(values[1], values[0]);
          };
          updateFields();
        },
        afterDeselect: function(values){
          multiSelectLimiterAfterDeselect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){
            addChange(values[1], values[0]);
          } else{
            revertChange(values[1], values[0]);
          };
          updateFields();
        }
    });

    // Enable keepers select box
    $('#team-keepers').multiSelect({
        keepOrder: true,
        afterInit: function(container){
            multiSelectLimiterAfterInit(this, container);
        },
        afterSelect: function(values){
          // Run after item is selected
          multiSelectLimiterAfterSelect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){ // Check if player selected is in current team
            revertChange(values[1], values[0]); // Remove change
          } else{
            addChange(values[1], values[0]); // Change needs adding
          };
          updateFields(); // Updates fields
        },
        afterDeselect: function(values){
          multiSelectLimiterAfterDeselect(this, values);
          values = values[0].split('-');
          if ($.inArray(Number(values[1]), fantasy_data.current_players) != -1){ // Check if player selected is in a current team
            addChange(values[1], values[0]); // Change needs adding
          } else{
            revertChange(values[1], values[0]); // Remove change
          };
          updateFields(); // Updates fields
        }
    });
  </script>
{% endblock %}
