{% extends "base.html" %}

{% block title %}
  Batting Par Score Calculator
{% endblock %}

{% block content %}
  <div class="block title-message fantasy">
    <div class="overlay">
      <div class="block-content">
        <h2>Batting Par Score Calculator</h2>
      </div>
    </div>
  </div>
  <div class="split-40">
    <div class="left">
      <div>
        <div class="title">
          <h3>Par Score</h3>
          <div class="caption">
            <p>This will calculate the mvp points using the par score model.</p>
          </div>
        </div>
        <div class="info">
          <P>INSERT GRAPH TOOL HERE</p>
        </div>
      </div>
    </div>
    <div class="split-40">
      <div class="right">
        <div>
          <div class="title">
            <h3>Bonus model</h3>
            <div class="caption">
              <p>This will calculate the mvp points given out by the bonus model.</p>
            </div>
          </div>
          <div class="info">
            <p>INSERT GRAPH TOOOL HERE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
