{% extends "base.html" %}

{% comment %} Set <title> {% endcomment %}
{% block title %}
  Fantasy Teams
{% endblock %}

{% block content %}
  <div class="block title-message fantasy">
    <div class="overlay">
      <div class="block-content">
        <h2>Fantasy Teams</h2>
      </div>
    </div>
  </div>
  <div class="block split-40 fantasy-players">
    <div class="left">
      <div>
        <div class="title">
          <h3>Teams</h3>
          <div class="caption">

          </div>
        </div>
        <div class="info">
          <div>
            {% for team in teams %}
              <p>
                <strong>{{ team.get_points|floatformat }} points</strong>
                <a href="{{ team.get_url }}">{{ team.user.first_name }} {{ team.user.last_name }} - {{ team.team_name }}</a>
              </p>
            {% empty %}
              <p>There are no teams yet</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
